<div class="container text-center">
  <br>
  <br>

<h1>Editing Borrower</h1>

<%= render 'form', borrower: @borrower %>

<br>

<%= link_to 'Back',  :back, class:"btn btn-outline-primary" %>
<br>
<br>
</div>
