<div class="container text-center">
  <br>
  <br>

<div class="container card text-center">
  <div class="card-header">
    <h1> LOAN CENTER:</h1>
  </div>
    <h1 stlye="color:#6e6e6e">

      <%= render partial: "notes/form", locals: {notable: @borrower}  %>

    </h1>
  <div class="card-footer text-muted">
  </div>
</div>

<br>
<%= link_to 'Back',  :back, class:"btn btn-outline-primary" %>
<br>
<br>


</div>
