<%= form_with(model: [notable, Note.new], local: true) do |form |%>
  <div class="field continer">
    <%= form.label :content, "Amount:" %>
    <br>
    $<%= form.text_field :content %>
  </div>

    <%= form.submit "Submit", class:"btn btn-primary btn-lg", data: { confirm: 'Are you sure?' } %>
<% end %>
