<div class="text-center">

<div class="card text-center">
  <div class="card-header">
    <h1> INVESTED AMOUNT:</h1>
  </div>
    <h1 stlye="color:#6e6e6e">
      PENDING
    </h1>
  <div class="card-footer text-muted">
  </div>
</div>

</div>
