<h1> Pages#register </h1>

<%= link_to 'Borrower', new_borrower_registration_path %>

<%= render "devise/registrations/borrower"  %>

<hr>
<br>
<br>
<br>

<%= render "devise/registrations/lender"  %>
