<div class="container text-center">

  <br>
  <br>
  <br>
  <br>


<div class="card text-center">
  <div class="card-header">
    <h1> INVESTMENT CENTER:</h1>
  </div>
    <h1 stlye="color:#6e6e6e">


      <%= render partial: "notes/form", locals: {notable: @lender}  %>



    </h1>
  <div class="card-footer text-muted">
  </div>
</div>

<br>
<br>
<%= link_to 'Back',  :back, class:"btn btn-outline-primary" %>
<br>
<br>
<br>

</div>
